@model IEnumerable<D49E01.Models.Payment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BasicSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayBand)
            </th>
            <th>
                HRA
            </th>
            <th>
                TA
            </th>
            <th>
                DA
            </th>
            <th>
                Net Salary
            </th>
            <th>
                TDS
            </th>
            <th>
                In Hand
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BasicSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayBand)
                </td>
                <td id="HRA">
                    @(@item.BasicSalary*0.1)
                </td>
                <td id="TA">
                    @(@item.BasicSalary*0.05)
                </td>
                <td id="DA">
                    @(@item.BasicSalary*0.05)
                </td>
                <td id="NS">
                    @(@item.BasicSalary*1.2)
                </td>
                <td id="TDS">
                    @(@item.BasicSalary*0.1)
                </td>
                <td id="IH">
                    @(@item.BasicSalary*1.1)
                </td>
            </tr>
            
        }
    </tbody>
</table>
